*.log
/storage/logs/*
!/storage/logs/.gitignore
.DS_Store
Thumbs.db
.env
.env.backup
.env.production
/.idea
/.vscode
/.phpunit.cache
/.phpunit.result.cache
/.fleet
/.nova
/.zed
Homestead.json
Homestead.yaml
.phpactor.json
/node_modules
/public/hot
/public/storage
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/*.key
/storage/*.sqlite
/storage/app/*
!/storage/app/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
/database/database.sqlite
/vendor
/auth.json
